<article>
  <h1>Assessment Details</h1>
  <form action="/assessor/submitted" method="get">

  <h2>Equipment</h2>
  <dl class="check-answers">
    <dt>Type</dt>
    <dd>
      <%= data[:equipment_type] %>
      <a href="/assessor/step-3" class="change-link">Change</a>
    </dd>

    <dt>Make</dt>
    <dd>
      <%= data[:equipment_make] %>
      <a href="/assessor/step-3" class="change-link">Change</a>
    </dd>

    <dt>Capacity</dt>
    <dd>
      <%= data[:equipment_capacity] %>
      <a href="/assessor/step-3" class="change-link">Change</a>
    </dd>

    <dt>Serial</dt>
    <dd>
      <%= data[:equipment_serial] %>
      <a href="/assessor/step-3" class="change-link">Change</a>
    </dd>
  </dl>

  <h2>Equipment owner</h2>
  <dl class="check-answers">
    <dt>Name</dt>
    <dd>
      <%= data[:equipment_owner_name] %>
      <a href="/example/step-3" class="change-link">Change</a>
    </dd>

    <dt>Address</dt>
    <dd>
      <%= data[:equipment_owner_address] %>
      <a href="/assessor/step-3" class="change-link">Change</a>
    </dd>

    <dt>Phone number</dt>
    <dd>
      <%= data[:equipment_owner_phone] %>
      <a href="/assessor/step-3" class="change-link">Change</a>
    </dd>

  </article>
  <article>

<h2>Students</h2>

<ol class="task-list">
  <li>
    <h3>
      <span class="step-number">1.</span> <%= data[:name] %>
    </h3>
    <ul>
      <li>
        <a href="/assessor/step-6">Personal information</a>
        <span class="completed">Completed</span>
      </li>
      <li>
        <a href="/assessor/step-7">Assessment results</a>
        <span class="completed">Completed</span>
      </li>
    </ul>
  </li>
</ol>
<fieldset class="actions">
      <button type="submit">Submit assessment</button>
    </fieldset>
  </form>
</article>
